html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; 
    flex-wrap: nowrap;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-self: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 5);
    background-color: rgb(49, 60, 63);
    justify-content: center;
    flex-wrap: nowrap;
}

#display {
    height: 100px;
    width: inherit;
    background-color: grey;
    margin: 10px;
    border-radius: 10px;
    color: white;
}

#buttons{
    display: flex;
    flex-direction: column;

}

button{
    height: 85px;
    width: 85px;
    border-radius: 70%;
    margin: 3.5px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightgreen;
    border: none;
    box-shadow: 0 4.5px #999;
    transition-duration: 0.4s
}

button:hover {
    background-color: white; /* Green */
    color: black;
}

button:active {
    background-color: white;
    box-shadow: 0 5px #999;
    transform: translateY(4px);
}

#div0, #div1, #div2, #div3, #div4{
   margin: 2.5px;
   padding: 5px;
}